@font-face {
  font-family: 'OpenSans';
  src: url('../../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-display: swap; 
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../../public/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-display: swap; 
}

@font-face {
  font-family: 'Kalam';
  src: url('../../public/fonts/Kalam-Regular.ttf') format('truetype');
  font-display: swap; 
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PlayfairDisplay', sans-serif;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-size: 16px;
  line-height: 1.5;

}

a {
  text-decoration: none;
  color: inherit;
}

/* p, li {
  font-family: 'OpenSans', sans-serif;
} */

#root {
  display: flex;
  flex-direction: column;
  align-items: center;  
  max-width: 1200px;
  min-width: 390px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3 {
  margin-bottom: 20px;
  font-weight: semi-bold;
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
  
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

button {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

img {
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #6b394e;  
  width: 100%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

.header__id {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__name {
  font-family: 'Kalam', cursive;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__links a, .header__icon {
  margin: 0 15px; 
  text-decoration: none; 
  color: inherit; 
  transition: text-shadow 0.3s ease; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header__links a:hover, .header__icon:hover {
  text-shadow: 6px 6px 6px rgba(197, 197, 197, 0.8); 
}

.header__icon {
  display: flex;
  align-items: center;
}

.hero, .about-me, .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  /* min-width: 700px; */
}

.hero__resume--link a {
  color: #007BFF;
}

.hero__gh-li--links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__resume--link a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 12px;
}

.about-me__content {
  margin-bottom: 20px;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.skills__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.skills__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.skills__list h4 {
  font-weight: bold;
  margin-bottom: 10px; 
}

.skills__area {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.skills__area--container {
  display: inline-block;
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 16px;
}

.skills__item-frontend, 
.skills__item-backend, 
.skills__area-item {
  display: inline-block;
  background-color: #0070f3;
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.skills__item-frontend:hover, 
.skills__item-backend:hover,
.skills__area-item:hover {
  transform: translate(-1px, -3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.skills__list--frontend, .skills__list--backend {
  margin-left: 20px;
}

.skills__area--container .skills__area:hover,
.skills__item-frontend:hover,
.skills__item-backend:hover {
  background-color: #005bb5; 
}

.skills__area, .project__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.project__container {
  display: flex;
  align-items: center;  
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding: 15px;
}

.project__container--content {
  display: flex;
  align-items: center;
  margin: 12px;  
}

.project__container--title {
  width: 80%; 
  background-color: #6b394e;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.project__container--title h3 {
  margin-bottom: 6px;
}

.project__container--info {
  display: flex;
  flex-direction: column;
  margin: 12px;  
}

.project__container--bullets {
  padding: 8px 0 8px 16px;
}

.project__container--links {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.tech-stack__item {
  font-style: italic;
}

.separator {
  font-style: normal;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 20px 0 60px 0;
}

.contact__title {
  font-size: 2em;
  margin-bottom: 25px;
  color: #333;
  font-weight: 800;
}

.contact label {
  font-size: 1em;
  margin-bottom: 8px;
  margin-top: 15px;
  font-weight: semi-bold;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 0.9em;
  font-family: 'OpenSans', sans-serif;
}

.contact textarea {
  height: 150px;
  resize: vertical;
}

.contact button {
  align-self: center;
  gap: 8px;
}

.contact div {
  margin-top: 10px;
}

.contact p {
  color: green;
  font-weight: semi-bold;
}

.contact span {
  color: red;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #ffffff;
  background-color: #6b394e;  
  width: 100%;
  height: 100px;
  padding: 20px;
  border-radius: 10px 10px 0 0 ;
  box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }

  .header__links, .header__icon { 
    gap: 10px;
  }

  .header__links a {
    margin: 0 2px;
    text-align: center;
  }
  
  .project__container, .project__container--content {
    flex-direction: column;
    padding: 10px 0
  }

  .contact {
    width: 90%;
  }
}

